enrichment/voyager-signal-enrichment.json
{
  "name": "Voyager Signal — Enrichment Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voyager-signal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-intake",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "claude-sonnet-4-6",
        "messages": {
          "values": [
            {
              "content": "You are Voyager Signal, an AI content analyst for Voyager Marketing.\n\nScore the following article on a 1-5 scale for marketing signal value:\n- 5 = Urgent insight — immediately actionable for a client or strategy\n- 4 = High value — relevant trend, competitor move, or tactical insight\n- 3 = Moderate — useful context, worth filing\n- 2 = Low — tangentially related\n- 1 = Noise — not relevant\n\nRespond with JSON only:\n{\n  \"score\": <1-5>,\n  \"summary\": \"<2-3 sentence summary>\",\n  \"tags\": [\"<tag1>\", \"<tag2>\"],\n  \"signal_type\": \"<trend|competitor|tactic|insight|news|opinion>\",\n  \"relevance_reason\": \"<why this matters to a marketing agency>\"\n}\n\nArticle:\nTitle: {{ $json.title }}\nSource: {{ $json.source }}\nURL: {{ $json.url }}\nByline: {{ $json.byline }}\n\nContent (first 3000 chars):\n{{ $json.content.substring(0, 3000) }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "claude-scoring",
      "name": "Claude Scoring",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's JSON response\nconst input = $input.first().json;\nconst webhookData = $('Webhook Intake').first().json;\n\nlet enrichment;\ntry {\n  const text = input.message?.content || input.text || JSON.stringify(input);\n  // Extract JSON from response (handle markdown code blocks)\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  enrichment = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  enrichment = {\n    score: 3,\n    summary: 'Could not parse enrichment — saved with default score.',\n    tags: ['needs-review'],\n    signal_type: 'unknown',\n    relevance_reason: 'Auto-saved, enrichment parsing failed.'\n  };\n}\n\nreturn [{\n  json: {\n    ...webhookData,\n    ...enrichment,\n    enrichedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-enrichment",
      "name": "Parse Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "81eb2b5a-05f6-433e-8c89-0d7c78cb798e",
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL", "type": "url", "urlValue": "={{ $json.url }}" },
            { "key": "Source", "type": "select", "selectValue": "={{ $json.source }}" },
            { "key": "Score", "type": "number", "numberValue": "={{ $json.score }}" },
            { "key": "Summary", "type": "richText", "textContent": "={{ $json.summary }}" },
            { "key": "Tags", "type": "multiSelect", "multiSelectValue": "={{ $json.tags }}" },
            { "key": "Signal Type", "type": "select", "selectValue": "={{ $json.signal_type }}" },
            { "key": "Byline", "type": "richText", "textContent": "={{ $json.byline }}" }
          ]
        }
      },
      "id": "notion-write",
      "name": "Write to Media Vault",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [920, 300],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": 5
            }
          ]
        }
      },
      "id": "score-gate",
      "name": "Score >= 5?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_SLACK_WEBHOOK_URL",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🚨 *Signal Score 5* — {{ $json.title }}\n{{ $json.summary }}\n<{{ $json.url }}|Open article> · Signal: {{ $json.signal_type }}"
            }
          ]
        }
      },
      "id": "slack-alert",
      "name": "Slack Alert (Score 5)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', score: $json.score, title: $json.title }) }}"
      },
      "id": "webhook-response",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 400]
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [[{ "node": "Claude Scoring", "type": "main", "index": 0 }]]
    },
    "Claude Scoring": {
      "main": [[{ "node": "Parse Enrichment", "type": "main", "index": 0 }]]
    },
    "Parse Enrichment": {
      "main": [[{ "node": "Write to Media Vault", "type": "main", "index": 0 }]]
    },
    "Write to Media Vault": {
      "main": [[{ "node": "Score >= 5?", "type": "main", "index": 0 }]]
    },
    "Score >= 5?": {
      "main": [
        [{ "node": "Slack Alert (Score 5)", "type": "main", "index": 0 }],
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    },
    "Slack Alert (Score 5)": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
